body{
    font-family: 'Island Moments', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
/* h1 tag er kaj css*/
.nasir-it{
    color: orange;
}
/* section tag er kaj css*/
.felexiable{
    display: flex;
    margin-bottom: 100px;
}
.width-haf{
    width: 50%;
    padding-left: 5%;
}

.width-haf p{
    text-align: justify;
}
.width-haf img{
    width: 100%;
    height: 90%;
    
}
.hrf{
    text-decoration: none;
   background-image: linear-gradient(orange, tomato);
   color: rgb(63, 22, 245);
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 700px;
}
.top-session{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
    
}
/*First section end*/
/* Seceand session */
.dream-it{
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

/*thard session */
.expri{

}
.box-sado{
    width: 40%;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    box-shadow: 10px
    10px 10px 10px rgb(222, 231, 222);
    border-radius: 5px;

}
.box-sado p{
    text-align: justify;
}
.expri{
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
}
#ex{
    background-image: linear-gradient(red,rgb(160, 221, 160));
   border-image-slice: 1;
    border-left: 7px solid;
}
#ex1{
    background-image: linear-gradient(red,rgb(102, 224, 102));
    border-image-slice: 1;
     border-left: 7px solid;
}
/*End session */
footer p{
    text-align: center;
}
marquee{
    color: rgb(230, 16, 44);
}